<head>
    <title>KevinZonda's Binary Repository</title>
</head>
<body>

<h1>KevinZonda's Binary Repository</h1>

<p>
KevinZonda's Binary Repository (KBR) is a repository without distribution binaries by itself.
</p>

<p>Current Selected Platform: <em>{{.platformName}} ({{.platform}})</em> Proxy: <em>{{.proxy}}</em></p>
<p>Available Platform:
    <a href="?platform=win">Windows</a>
    <a href="?platform=linux">Linux</a>
    <a href="?platform=mac">macOS (Darwin)</a>
</p>
<p>UA: {{.UA}}</p>

<hr>
<h2>Package List</h2>

{{range $pkg_uname, $pkg := .seq.packages}}
    {{$pkg.display_name}}

    {{if eq (notnil $pkg.versions) false}}
        <span>N/A</span>
        <br>
        {{continue}}
    {{end}}

    {{if eq (len $pkg.versions) 0}}
        <span>N/A</span>
        <br>
        {{continue}}
    {{end}}

    {{range $version, $version_urls := $pkg.versions}}
        {{$version_urls.version}}
        {{if not (eq $version $version_urls.version)}}
            ({{$version}})
        {{end}}

        {{$v_platform := (index $version_urls.urls $.platform)}}
        {{if notnil $v_platform}}
            {{range $v_arch, $v_url := $v_platform}}
                {{if $.proxy}}
                    <a href="https://repo.kevinzonda.com/package/{{$pkg_uname}}/{{$version}}/{{$v_arch}}?proxy=true">{{$v_arch}}</a>
                {{else}}
                    <a href="{{$v_url}}">{{$v_arch}}</a>
                {{end}}
            {{end}}
        {{end}}
    {{end}}
    <br>
{{end}}

<br>
<hr>
<h2>How it works?</h2>

KBR grabs or collects different softwares' distribution urls and update them automatically.

<br>
<hr>

<h2>Fancy a direct link?</h2>
Try access binary via https://repo.kevinzonda.com/package/{packName}/{version}/{os}/{arch}<br>
os: "win", "mac", "linux"<br>
arch: "x64", "x86", "arm64"

<br>
<hr>
<em>Last Updated at: {{.seq.updated}}</em>
<p>Copyright &copy; 2024 KevinZonda</p>
</body>